ul.menu {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    background-color: #3A4D39;
}

ul.menu li {
    display: inline;
}

ul.menu li a {
    display: inline-block;
    text-decoration: none;
    padding: 16px;
    color: #f5f7f8;
}

ul.menu li a:hover {
    background-color: #4f6f52;
}

