/* .table1{
    border: 1px solid white;
    border-collapse: collapse;
    padding: 12px;
    text-align: center;
    color: white;
    width: 1445px;
}

.header{
    background-color: #363062;
}

.main{
    background-color: #5b5a83;
}

.footer{
    background-color: #fdae4f;
}

caption{
    background-color: #072541;
} */

table {
    width: 100%;
    text-align: center;
}


table,
th,
td,
caption {
    border: 3px solid black;
    border-collapse: collapse;
    color: #f5f6f7;
    padding: 6px;
}

/* table tr th{
    background-color: #363062;
}

table tr td{
    background-color: blue;
} */

#caption,
caption {
    color: #f5f6f7;
    background-color: #072541;

}

.head,
thead {
    background-color: #363062;
}

.body {
    background-color: #5b5a83;
}

.foot,
tfoot {
    background-color: #f99417;
}

#tbody {
    background-color: #5b5a83;

}