header,
footer {
    background-color: gray;
}

nav {
    background-color: #176b87;
    flex: 3;
}

article {
    background-color: #64ccc5;
    flex: 7;
}

h1,
ul,
p {
    margin: 0px;
    padding: 16px;
}

section {
    display: flex;
}

a {
    text-decoration: none;
    color: #f5f6f7;
}

ul {
    list-style-type: none;
}