<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/flexbox.css">

<body>

    <header>
        <h1>Welcome</h1>
    </header>
    <section>
        <nav>
            <ul>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
            </ul>
        </nav>

        <article>
            <h1>Article</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae fugiat qui cum voluptatibus ut, enim
                maiores accusamus, illo exercitationem, impedit eligendi at porro dignissimos molestias excepturi
                laboriosam
                incidunt quia veritatis!
                Dolorum architecto eveniet tenetur consectetur vel voluptas, molestias consequuntur voluptatibus
                voluptate
                nam impedit vitae quaerat excepturi. Alias rem dolorem corporis. Suscipit, ratione. Excepturi ea
                inventore
                fugiat! Magni architecto ratione molestias.</p>
        </article>
    </section>
    <footer>
        <p>&copy; 2023 - All reserved</p>
    </footer>

</body>

</html>